[submodule "themes/hugo-ivy"]
	path = themes/hugo-ivy
	url = https://github.com/sumuen/hugo-ivy.git
[submodule "themes/paper"]
	path = themes/paper
	url = https://github.com/adityatelange/hugo-PaperMod.git
